<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher3"
    android:versionCode="3190"
    android:versionName="2.6">

    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NETWORK_SETTINGS" />
    <uses-permission android:name="android.permission.NETWORK_SETUP_WIZARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name="com.android.launcher3.uioverrides.QuickstepLauncher"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.launcher3.paper.NoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.launcher3.paper.NotebookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.launcher3.paper.WifiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.launcher3.paper.AppLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.android.launcher3.paper.DisplayControlService"
            android:directBootAware="true"
            android:exported="false" />
    </application>
</manifest>
